page-core-login-credentials {
    ion-content .scroll-content {
        background: $gray-light !important;
    }

    .logo-landing-page {
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 250px;
        }
    }

    form {
        ion-item {
            padding: 0 10px !important;

            .item-inner {
                border: 0 !important;
                padding: 0 !important;
                background-color: $gray-light !important;

                ion-input {
                    border-bottom: 2px solid #e3e3e3;
                }
                span.button-inner {
                    color: #000 !important;
                }
            }
        }

        button {
            // background-color: $red !important;
        }
    }
}
