side-menu {
    .scroll-content {
        min-width: 75vw !important;
    }
    .user-fullname {
        font-weight: bold;
        color: black;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    ion-list {
        width: fit-content;
    }
    ion-menu {
        .menu-inner {
            width: fit-content;
        }
        .scroll-content {
            width: fit-content;
            background-color: #ffffff;
            * {
                background-color: #ffffff;
            }
        }
    }
    .icon-link {
        margin: 20% 0 calc(20% + 10px) !important;
        padding: 0 !important;
        border: 0 !important;
        ion-label {
            margin: 0 !important;
            display: flex !important;
            align-items: center;
        }
        img {
            border-radius: 50%;
            width: 75px;
            margin-right: 10px;
        }
    }
    .item-md {
        padding-right: 16px !important;
    }
    .sidemenu-item {
        margin: 10% 1% !important;
        padding: 0 !important;
        border: 0 !important;
        display: flex;
        align-items: center;

        ion-icon {
            font-size: 30px;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        span.sidemenu-item-title {
            font-size: 16px;
            margin-left: 10px;
        }

        ion-label {
            margin: 0 !important;
        }
    }

    .sidemenu-item-icon {
        margin-bottom: 10px;
        min-width: 50px;
        min-height: 50px;
    }
    .dashboard-icon {
        background: url("#{$assets-path}/img/icons/dashboard.svg") round;
    }
    .teachers-icon {
        background: url("#{$assets-path}/img/icons/dashboard.svg") round;
    }
    .customer-care-icon {
        background: url("#{$assets-path}/img/icons/customer-care.svg") round;
    }
    .tutorial-icon {
        background: url("#{$assets-path}/img/icons/tutorial.svg") round;
    }
    .faq-icon {
        background: url("#{$assets-path}/img/icons/faq.svg") round;
    }
    .item-inner {
        background-image: unset !important;
        padding: 0px !important;
        border: 0px !important;
    }
}
