<ion-menu [content]="content" swipeEnabled="false" style="width: fit-content;">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-content>
    <ion-list>
      <a class="icon-link" *ngIf="!!siteInfo" ion-item text-wrap (click)="gotoProfile($event)" menuClose>
        <img *ngIf="avatarUrl" [src]="avatarUrl" [alt]="'core.pictureof' | translate:{$a: siteInfo.fullname}"
          core-external-content onError="this.src='assets/img/user-avatar.png'" role="presentation" [siteId]="null"
          (click)="gotoProfile($event)">
        <img *ngIf="!avatarUrl" src="assets/img/user-avatar.png"
          [alt]="'core.pictureof' | translate:{$a: siteInfo.fullname}" role="presentation"
          (click)="gotoProfile($event)">
        <h2 class="user-fullname">{{siteInfo.fullname}}</h2>
      </a>
      <button ion-item class="sidemenu-item" (click)="goTo('dashboard')">
        <div class="sidemenu-item-icon dashboard-icon"></div>
        <span class="sidemenu-item-title">DASHBOARD</span>
      </button>
      <button ion-item class="sidemenu-item" (click)="goTo('tutorial')">
        <div class="sidemenu-item-icon tutorial-icon"></div>
        <span class="sidemenu-item-title">TUTORIAL</span>
      </button>
      <button ion-item class="sidemenu-item" (click)="goTo('customer-care')">
        <div class="sidemenu-item-icon customer-care-icon"></div>
        <span class="sidemenu-item-title">CUSTOMER CARE</span>
      </button>
      <button ion-item class="sidemenu-item" (click)="goTo('faq')">
        <div class="sidemenu-item-icon faq-icon"></div>
        <span class="sidemenu-item-title">FAQ</span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>