side-menu {
    .user-fullname{
        font-weight: bold;
        color: black;
    }
    ion-list{
        width: fit-content;
    }
    ion-menu {
        .menu-inner{
            width: fit-content;
        }
        .scroll-content{
            width: fit-content;
            background-color: $background-color;
        }
    }
    .icon-link {
        text-align:center;
        width:fit-content;
        margin-bottom: 30%!important;
        img{
            border-radius: 50%;
        }
    }
    .item-md{
        padding-right:16px!important;
    }
    .sidemenu-item{
        font-weight: 100;
        font-size: x-small;
        text-align: center;
        margin-bottom: 10%!important;
    }

    span.sidemenu-item-title{
        margin-top: 1rem;
        font-weight: 100;
        font-size: x-small;
    }

    .sidemenu-item-icon{
        margin-bottom:10px;
        min-width: 50px;
        min-height: 50px;
    }
    .dashboard-icon{
        background: url('#{$assets-path}/img/icons/dashboard.svg') round;
    }
    .customer-care-icon{
        background: url('#{$assets-path}/img/icons/customer-care.svg') round;
    }
    .tutorial-icon{
        background: url('#{$assets-path}/img/icons/tutorial.svg') round;
    }
    .faq-icon{
        background: url('#{$assets-path}/img/icons/faq.svg') round;
    }
    .item-inner{
        background-image: unset!important;
        padding: 0px!important;
        border:0px!important;
    }
}
