ion-app.app-root ion-badge.core-course-download-section-progress {
    display: block;
    @include float(start);
    @include margin(12px, 12px, null, 12px);
}

ion-app.app-root core-course-format {

    .core-format-progress-list {
        margin-bottom: 0;

        .item {
            background: transparent;

            .label {
                margin-top: 0;
                margin-bottom: 0;
            }

            progress {
                .progress-bar-fallback,
                &[value]::-webkit-progress-bar {
                    background-color: $white;
                }
            }
        }
    }

    .core-course-thumb {
        // display: none;
        height: 150px;
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        pointer-events: auto;
        position: relative;
        background: white;

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 100%;
        }
    }

    .item-divider  {
        .label {
            margin-top: 0;
            margin-bottom: 0;
        }

        core-format-text {
            line-height: 44px;
        }

        ion-badge core-format-text {
            line-height: normal;
            margin-bottom: 9px;
        }

        &.core-section-download .label{
            @include margin(null, 0, null, null);
        }
    }

    div.core-section-download {
        @include padding(null, 0, null, null);
    }

    .core-button-selector-row {
        @include safe-area-padding-start($content-padding !important, $content-padding);
    }

    .core-course-section-nav-buttons {
        .button-inner core-format-text {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-transform: none;
        }
    }

    .course-general-info{
        margin-top: 16px;
        margin-left: 16px;
        div:not(.course-title){
            *{
                margin:0px;
            }
        }
        .course-title{
            overflow: visible;
            width: 140px;
            white-space: nowrap;
            text-align: left;
            font-family: Biilmann;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: $ottanium;
            letter-spacing: 0.5555555725097656px;
            text-transform: uppercase;
        }
    }

    .section-button{
        border-radius: 8px;
        border: 1px solid $gray-dark;
        font-size: small;
        p{
            margin: 3px;
        }
    }

    .section-button[selected='true']{
        border-radius: 10px;
        background-color: $ottanium;
        border: 1px solid $ottanium;
        color: $white;
    }

    .content-slide[selected='true']{
        .selection-bar{
            border-radius: 15%;
            height: 5px;
            width:100%;
            background-color: $ottanium;
            z-index:10001;
        }
        font-weight: bold;
    }

    .content-slide{
        .selection-bar{
            height: 5px;
            width:100%;
            background-color: $gray-light;
        }
        .selection-bar-first{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            height: 5px;
            width:100%;
            background-color: $gray-light;
        }
        .selection-bar-last{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            height: 5px;
            width:100%;
            background-color: $gray-light;
        }
    }

    .content-selection-text{
        font-size: small;
    }
    .section-slider{
        margin: 20px;
    }

    .section{
        height: 100%;
        background-color: $gray-lighter;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .item-md{
        background-color: unset;
    }

    .swiper-pagination-bullet{
        display: none;
     }

    p.episodes{
        margin-top:0px;
    }
    .subsections{
        padding-top: 2rem;
        .subsection-container{
            margin: 3%;
            background-color: unset;
            display: block;
        }
        .core-subsection{
            align-items: flex-start;
            min-height: 52px;
            background-color: $white;
            .core-subsection-title{
                font-weight: bold;
            }
        }
    }
}
