<ion-content>
    <ion-refresher [enabled]="categoriesLoaded" (ionRefresh)="refreshCategories($event)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>
    <core-loading [hideUntil]="userLoaded">
      <ion-grid style="padding: 4%;">
        <ion-row>
          <ion-col class="header">
            <h1 class="name"><b>{{ user.fullname }}</b></h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="header">
            <img *ngIf="!!badges && badges.length>0" class="goccia-rossa" [src]="badges[badges.length-1].badgeurl" item-start core-external-content/>
            <div class="points">
              <h2 class="red-text"><b>{{points}}</b></h2>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
        <!-- <div class="user-header">
            <h1 class="name"><b>{{ user.fullname }}</b></h1>
            <div class="points">
                <img class="goccia-rossa" src="assets/img/goccia.png"/>
                <h1><b>6431</b></h1>
            </div>
        </div> -->
    </core-loading>
    <core-loading [hideUntil]="categoriesLoaded">
        <div *ngIf="categories?.length > 0">
            <ion-grid class="categories">
                <ion-row>
                <ion-col col-12>
                    <div class="select-category">
                        <b>Seleziona una categoria</b>
                    </div>
                </ion-col>
                <ion-col col-6 col-md-3 col-lg-2 *ngFor="let category of categories">
                    <ion-card class="course-card" text-center (click)="openCategory(category.id)" [attr.selected]="category.id==selectedCategory">
                        <ion-card-header>
                          <h1><strong>{{category.name | uppercase}}</strong></h1>
                        </ion-card-header>
                        <ion-card-content [class]="category.name | lowercase">
                          {{category.coursecount}} Corsi
                        </ion-card-content>
                      </ion-card>
                </ion-col>
            </ion-row>
            </ion-grid>
        </div>
    </core-loading>
    <div *ngIf="selectedCategory==-1">
      <img src="assets/img/background.png"/>
      <div class="project">      
        <h1 class="red-text">
          <b>
            {{ 'core.site.projecttitle' | translate }}
          </b>
        </h1>
        <p>
          {{ 'core.site.project' | translate }}
        </p>
      </div>
    </div>
    <courses [categoryId]="selectedCategory" (close)="dismiss($event)" *ngIf="selectedCategory!=-1">
      
    </courses>
</ion-content>