ion-app.app-root addon-qtype-multichoice {
    .core-correct-icon {
        bottom: 50%;
        margin-bottom: -7px;
    }

    .specificfeedback {
        background-color: $core-question-feedback-color-bg;
        color: $core-question-feedback-color;
        display: inline;
        padding: 0 .7em;
    }

    ion-item.item-image{
        width: 50%;
        float: left;
        div.flex-fill{
            width: fit-content;

        }
    }
    ion-item.item-radio{
        div.item-inner{
            background-color: white;
            border-radius: 20px;
            margin-right: 10px;
            margin-top:2%;
            margin-bottom: 2%;
        }
    } 
    ion-item.item-radio-checked {
        background-color: transparent;
        div.item-inner{
            background-color: $ottanium;
            border-radius: 20px;
            margin-right: 10px;
            *{
                color: white;
            }
        }
    }
    .item-radio.item-md ion-label {
        margin-left: 5%;
    }

    span.answernumber{
        float: left;
        text-transform: uppercase;
        font-weight: bolder;
        margin-right: 3%;
        font-size: 2rem;
    }

    div.item-inner div.input-wrapper ion-label{
        margin-bottom:0px;
        // core-format-text p{
        //     font-weight: bold;
        //     font-size: 2rem;
        // }
    } 

    div.item-inner div.input-wrapper ion-label core-format-text div.flex-fill {
        *{
            font-weight: lighter;
            font-size: x-large;
            // img{
            //     max-width: 100px;
            //     max-height: 100px;
            // }
        }   
    }

    .item-md .radio-md .radio-icon{
        display: none!important;
    }

    .core-image-viewer-icon {
        right: 0px!important;
    }

    .item core-format-text p {
          margin-bottom: 1rem!important;
          font-size: large!important;
          font-weight: bold!important;
          color: $black!important;
    }
}
