<ion-header>
  <ion-navbar core-back-button>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
  </button>
  <ion-buttons end>
    <button ion-button icon-only (click)="logout()">
      <ion-icon name="log-out" item-start aria-hidden="true"></ion-icon>
  </button>
  </ion-buttons>
    
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher [enabled]="userLoaded" (ionRefresh)="refreshUser($event)">
      <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
  </ion-refresher>
  <core-loading [hideUntil]="userLoaded">
      <ion-list *ngIf="user && !isDeleted && isEnrolled">
          <ion-item text-center>
              <span class="text-small">{{ 'core.user.myDashboard' | translate}}</span>
              <h2><b class="text-red">{{ user.fullname }}</b></h2>
              <ion-avatar core-user-avatar class="item-avatar-center" [user]="user" [userId]="user.id" [linkProfile]="false" [checkOnline]="true">
                  <ion-icon name="create" class="core-icon-foreground" *ngIf="canChangeProfilePicture" (click)="changeProfilePicture()"></ion-icon>
                  <!-- <img class="badge-on-icon" *ngIf="!!badges && badges.length>0" [src]="badges[badges.length-1].badgeurl" [alt]="badges[badges.length-1].name" item-start core-external-content> -->
              </ion-avatar>
              <h1><b class="text-red">{{points}}</b></h1>
              <p *ngIf="user.address">{{ user.address }}</p>
              <p *ngIf="user.roles" text-wrap>
                  <strong>{{ 'core.user.roles' | translate}}</strong>{{'core.labelsep' | translate}}
                  {{ user.roles }}
              </p>
          </ion-item>

          <ion-item text-center>
            <h1><strong>I tuoi numeri</strong></h1>
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <ion-card>
                    <ion-card-header>
                      <h1><b class="text-red">{{ongoingCourses}}</b></h1>
                    </ion-card-header>
                    <ion-card-content>
                      Corsi in avanzamento
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col col-6>
                  <ion-card>
                    <ion-card-header>
                      <h1><b class="text-red">{{completedCourses}}</b></h1>
                    </ion-card-header>
                    <ion-card-content>
                      Corsi completati
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <ion-card>
                    <ion-card-header>
                      <h1><b class="text-red">{{completedActivities}}</b></h1>
                    </ion-card-header>
                    <ion-card-content>
                      Livelli sbloccati
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col col-6>
                  <ion-card>
                    <ion-card-header>
                      <h1><b class="text-red">{{timeSpent*1000 | date:'HH':'UTC'}}</b><small class="text-red">h</small><b class="text-red"> {{timeSpent*1000 | date:'mm':'UTC'}}</b><small class="text-red">m</small></h1>
                    </ion-card-header>
                    <ion-card-content>
                      La tua formazione
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item id="badges">
            <h1 text-center>
              <b>Badges</b>
            </h1>
            <div *ngIf="badgeAlcolizzato">
              <img src="assets/img/badgeAlcolizzato.png">
            </div>
            <div *ngIf="badgeSommelier">
              <img src="assets/img/badgeSommelier.png">
            </div>
            <div *ngIf="badgeMegadirettore">              
              <img src="assets/img/badgeMegadirettore.png">
            </div>
            <!-- <div *ngFor="let badge of badges" class="badge">
              <img class="badge-icon" [src]="badge.badgeurl" [alt]="badge.name" item-start core-external-content>
            </div> -->
            <!-- <div class="last-achived-badge" *ngIf="!!badges && badges.length>0">
              <img [src]="badges[badges.length-1].badgeurl" [alt]="badges[badges.length-1].name" item-start core-external-content>
              <h3>
                {{badges[badges.length-1].name | uppercase}}
              </h3>
            </div> -->
          </ion-item>
      </ion-list>
  </core-loading>
</ion-content>