<ion-header>
  <ion-navbar core-back-button>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
  </button>
      <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher [enabled]="userLoaded" (ionRefresh)="refreshUser($event)">
      <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
  </ion-refresher>
  <core-loading [hideUntil]="userLoaded">
      <ion-list *ngIf="user && !isDeleted && isEnrolled">
          <ion-item text-center>
              <span class="text-small">{{ 'core.user.myDashboard' | translate}}</span>
              <h2><b>{{ user.fullname }}</b></h2>
              <ion-avatar core-user-avatar class="item-avatar-center" [user]="user" [userId]="user.id" [linkProfile]="false" [checkOnline]="true">
                  <ion-icon name="create" class="core-icon-foreground" *ngIf="canChangeProfilePicture" (click)="changeProfilePicture()"></ion-icon>
              </ion-avatar>
              <h1><b>6431</b></h1>
              <p *ngIf="user.address">{{ user.address }}</p>
              <p *ngIf="user.roles" text-wrap>
                  <strong>{{ 'core.user.roles' | translate}}</strong>{{'core.labelsep' | translate}}
                  {{ user.roles }}
              </p>
          </ion-item>

          <ion-item text-center>
            <h1><strong>I tuoi numeri</strong></h1>
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <ion-card>
                    <ion-card-header>
                      <h1><b>{{ongoingCourses}}</b></h1>
                    </ion-card-header>
                    <ion-card-content>
                      Corsi in avanzamento
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col col-6>
                  <ion-card>
                    <ion-card-header>
                      <h1><b>{{completedCourses}}</b></h1>
                    </ion-card-header>
                    <ion-card-content>
                      Corsi completati
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <ion-card>
                    <ion-card-header>
                      <h1><b>29</b></h1>
                    </ion-card-header>
                    <ion-card-content>
                      Livelli sbloccati
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col col-6>
                  <ion-card>
                    <ion-card-header>
                      <h1><b>5</b><small>h</small><b> 21</b><small>m</small></h1>
                    </ion-card-header>
                    <ion-card-content>
                      La tua formazione
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>

          <!-- <ion-grid class="core-user-communication-handlers" *ngIf="(communicationHandlers && communicationHandlers.length) || isLoadingHandlers">
              <ion-row no-padding justify-content-between *ngIf="communicationHandlers && communicationHandlers.length">
                  <ion-col align-self-center *ngFor="let comHandler of communicationHandlers" text-center>
                      <a (click)="handlerClicked($event, comHandler)" [ngClass]="['core-user-profile-handler', comHandler.class]" title="{{comHandler.title | translate}}" tappable>
                          <core-icon [name]="comHandler.icon"></core-icon>
                          <p>{{comHandler.title | translate}}</p>
                      </a>
                  </ion-col>          
              </ion-row>
              <ion-row no-padding>
                  <ion-col text-center class="core-loading-handlers" *ngIf="isLoadingHandlers">
                      <ion-spinner></ion-spinner>
                  </ion-col>
              </ion-row>
          </ion-grid>

          <a ion-item text-wrap class="core-user-profile-handler" (click)="openUserDetails()" title="{{ 'core.user.details' | translate }}">
              <ion-icon name="person" item-start></ion-icon>
              <h2>{{ 'core.user.details' | translate }}</h2>
          </a>
          <ion-item text-center class="core-loading-handlers" *ngIf="isLoadingHandlers">
              <ion-spinner></ion-spinner>
          </ion-item>

          <a *ngFor="let npHandler of newPageHandlers" ion-item text-wrap [ngClass]="['core-user-profile-handler', npHandler.class]" (click)="handlerClicked($event, npHandler)" [hidden]="npHandler.hidden" title="{{ npHandler.title | translate }}">
              <core-icon *ngIf="npHandler.icon" [name]="npHandler.icon" item-start></core-icon>
              <h2>{{ npHandler.title | translate }}</h2>
          </a>

          <ion-item *ngIf="actionHandlers && actionHandlers.length">
              <button *ngFor="let actHandler of actionHandlers" ion-button block outline [ngClass]="['core-user-profile-handler', actHandler.class]" (click)="handlerClicked($event, actHandler)" [hidden]="actHandler.hidden" title="{{ actHandler.title | translate }}" icon-start [disabled]="actHandler.spinner">
                  <core-icon *ngIf="actHandler.icon" [name]="actHandler.icon" start></core-icon>
                  <span>{{ actHandler.title | translate }}</span>
                  <ion-spinner *ngIf="actHandler.spinner"></ion-spinner>
              </button>
          </ion-item> -->
      </ion-list>
      <!-- <core-empty-box *ngIf="!user && !isDeleted && isEnrolled" icon="person" [message]=" 'core.user.detailsnotavailable' | translate"></core-empty-box>

      <core-empty-box *ngIf="isDeleted" icon="person" [message]="'core.userdeleted' | translate"></core-empty-box>
      <core-empty-box *ngIf="!isEnrolled" icon="person" [message]="'core.notenrolledprofile' | translate"></core-empty-box> -->
  </core-loading>
</ion-content>