page-user-profile {
    .item-inner {
        padding: 8px !important;
        border: 0px !important;
    }
    .item-block {
        padding: 0px !important;
    }
    ion-card {
        margin: 0px !important;
    }
    ion-card-header {
        padding-bottom: 0px !important;
    }

    ion-label {
        margin-right: 0px !important;
    }
    .core-icon-foreground {
        position: absolute;
        @include position(null, 0, 0, null);
        font-size: 24px;
        line-height: 30px;
        text-align: center;

        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $white;
        @include darkmode() {
            background: $core-dark-item-bg-color;
        }
    }
    [core-user-avatar].item-avatar-center {
        display: inline-block;
        img {
            margin: 0;
        }
        .contact-status {
            width: 24px;
            height: 24px;
        }
    }

    .core-user-communication-handlers {
        background: $list-background-color;
        border-bottom: 1px solid $list-border-color;

        @include darkmode() {
            background: $core-dark-item-bg-color;
        }

        .core-user-profile-handler {
            background: $list-background-color;
            border: 0;
            color: $core-user-profile-communication-icons-color;

            @include darkmode() {
                background: $core-dark-item-bg-color;
            }

            p {
                margin: 0;
            }

            .icon {
                border-radius: 50%;
                width: 32px;
                height: 32px;
                max-width: 32px;
                font-size: 22px;
                line-height: 32px;
                color: white;
                background-color: $core-user-profile-communication-icons-color;
                margin-bottom: 5px;
            }
        }
    }

    .core-user-profile-handler {
        ion-spinner {
            @include margin(null, null, null, 0.3em);
        }
    }

    .text-small {
        font-size: small;
    }

    h1 small.text-red {
        font-size: small;
        color: $red;
    }

    h2 b.text-red {
        font-size: x-large;
        color: $red;
    }

    h1 b.text-red {
        font-size: xx-large;
        color: $red;
    }

    h1 strong {
        font-size: xx-large;
    }

    ion-card {
        width: 100% !important;
        border-radius: 10px !important;
        background-color: white !important;
    }

    ion-card-content {
        padding: 0 0 8px 0 !important;
        color: $gray-dark;
    }

    img.badge-icon {
        max-width: 60px;
    }

    div.last-achived-badge {
        text-align: center;
        clear: both;
        img {
            width: 40%;
        }
    }

    img.badge-on-icon {
        width: 30px !important;
        height: 30px !important;
        position: absolute;
        bottom: 0;
        margin: 0px !important;
    }

    div.badge {
        float: left;
    }

    #badges {
        border: 0;
        text-align: center;
        .image-badge-icon {
            width: 50px;
        }

        .image-badge-icon-actual {
            width: 70px;
        }

        .image-badge-not-claim {
            opacity: 0.3;
        }

        .label-actual-badge {
            font-weight: 500;
            color: gray;
            margin-top: 10px;
            text-transform: uppercase;
        }
    }

    #stats {
        border: 0;
        .stats-image {
            width: 100%;
        }
    }
}
