page-teachers {
    .img-biografie {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 250px;
        }
    }

    .label-biografie {
        padding: 0 5px;

        div:nth-child(1) {
            font-weight: bold;
            text-transform: uppercase;
        }

        div:nth-child(2) {
            color: #b9b9b9;
            text-align: justify;
        }
    }

    ion-grid.cards-ambassador {
        padding: 0 !important;
        margin-top: 20px;

        ion-col {
            text-align: center;

            img {
                background: #bbbbbb;
                border-radius: 5px;
            }

            div.cards-ambassador__name {
                text-align: left;
                font-weight: bold;
            }

            div.cards-ambassador__titolo {
                color: #b9b9b9;
                text-align: left;
            }
        }
    }
}
